---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout pageTitle={frontmatter.title}>
  <div class="container">
  <div class="story-meta">
    <p class="date">{frontmatter.date.toLocaleDateString()}</p>
    {frontmatter.authors && frontmatter.authors.length > 0 && (
      <p class="authors">Written by: {frontmatter.authors.join(', ')}</p>
    )}
    {frontmatter.excerpt && (
      <p class="excerpt"><em>{frontmatter.excerpt}</em></p>
    )}
  </div>

  {frontmatter.featured_image && (
    <img src={frontmatter.featured_image.src} width="300" alt={frontmatter.title} class="featured-image" />
  )}

  <div class="story-content">
    <slot />
  </div>

  {frontmatter.tags && frontmatter.tags.length > 0 && (
    <div class="tags">
      {frontmatter.tags.map((tag: string) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))}
    </div>
  )}
  </div>
</Layout>

<style>
  a {
    color: #00539f;
  }

.tags {
display: flex;
flex-wrap: wrap;
}

.tag {
margin: 0.25em;
border: dotted 1px #a1a1a1;
border-radius: 0.5em;
padding: 0.5em 1em;
font-size: 1.15em;
background-color: #f8fcfd;
}
</style>
